#tx {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 1200;
    height: 100%;
    flex-wrap: wrap;
  }
  
  #tx #game_tx{
    background-image: url('../images/tx_bk.png?v=13');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 794px;
    height: 459px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #game_tx #dia{
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
  }
  
  #game_tx #dia #dice,#game_tx #dia #dice_return{
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    color: white;
    align-items: center;
    height: 300px;
  }
  
  #game_tx #dia #effect_c{
    background-image: url('../images/effect_c.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 248px;
    width: 248px;
    margin-top: 50px;
    animation: spin 2s linear infinite; 
    position: absolute;
    z-index: 0;
  }
  
  #game_tx .info{
    width: 200px;
    text-align: center;
  }
  
  #game_tx .info .txt_session{
    color: black;
    position: relative;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: -16px;
    left: -14px;
    text-shadow: 1px 1px 1px #ebb052;
    font-weight: bold;
  }

#game_tx .info .timer_session {
    position: relative;
    top: -14px;
    background-color: black;
    width: 49px;
    border-radius: 13px;
    height: 21px;
    color: yellow;
    font-size: 11px;
    padding-top: 3px;
    left: 59px;
    box-shadow: inset 0px 3px 2px darkgoldenrod;
}

  #game_tx .info .txt{
    width: 89px;
    position: relative;
    top: -5px;
  }
  
  #game_tx .info .txt.tai{
    right:25px;
  }
  
  #game_tx .info .txt.xiu{
    left: 25px;
  }
  
  #game_tx .info .txt_user{
    color: white;
    position: relative;
    font-size: 12px;
  }
  
  #game_tx .info .txt_user.tai{
    top: 12px;
    right: -61px;
  }
  
  #game_tx .info .txt_user.xiu{
    left: -59px;
    top: 10px;
  }
  
  #game_tx .btn{
    width: 200px;
    text-align: center;
  }
  
  #game_tx .btn .close {
    position: relative;
    top: 2px;
    left: -50px;
  }
  
  #game_tx .btn .close:hover {
    content: url('../images/btn_close_hover.png');
  }

  #game_tx .btn .rank {
    position: relative;
    top: 9px;
    left: 26px;
  }
  
  #game_tx .btn .rank:hover {
    content: url('../images/btn_rank_hover.png');
  }
  
  #game_tx .btn .chat{
    position: relative;
    top: 60px;
    right: -31px;
  }
  
  #game_tx .btn .chat:hover{
    content: url('../images/btn_chat_hover.png');
  }
  
  #game_tx .btn .info{
    width: 66px;
    position: relative;
    top: 3px;
    left: 59px;
  }
  
  #game_tx .btn .info:hover{
    content: url('../images/btn_info_hover.png');
  }
  
  #game_tx .btn .chart{
    position: relative;
    top: 14px;
    left: -14px;
  }

  #game_tx .btn .chart:hover{
    content: url('../images/btn_chart_hover.png');
  }

  #game_tx .btn .question{
    position: relative;
    top: 54px;
    left: -37px;
  }

  #game_tx .btn .question:hover{
    content: url('../images/btn_question_hover.png');
  }

  #game_tx .btn .history{
    position: relative;
    top: 65px;
    left: 16px;
  }

  #game_tx .btn .history:hover{
    content: url('../images/btn_history_hover.png');
  }

  #game_tx .btn .hand{
    width: 66px;
    position: relative;
    top: 72px;
    left: -29px;
  }
  
  .sprite_dice{
    width: 51px;
    height: 51px;
    background-image: url(../images/dice.png);
    background-position: 0px 0px;
    background-size: 301px 51px;
  }
  
  .sprite_dice.p1{
    top: 96px;
    position: relative;
    left: 31px;
  }
  
  .sprite_dice.p2{
    top: -2px;
    position: relative;
    left: -1px;
  }
  
  .sprite_dice.p3{
    top: 0px;
    position: relative;
    left: -27px;
  }
  
  .sprite_dice.d1{
    background-position: 0px 0px;
  }
  
  .sprite_dice.d6{
    background-position: 51px 0px;
  }
  
  .sprite_dice.d5{
    background-position: 101px 0px;
  }
  
  .sprite_dice.d4{
    background-position: 151px 0px;
  }
  
  .sprite_dice.d3{
    background-position: 201px 0px;
  }
  
  .sprite_dice.d2{
    background-position: 251px 0px;
  }
  
  .zoom { animation: zoomEffect 2s infinite;}
  
  #tx_msg{
    position: fixed;
    width: 652px;
    height: 402px;
    z-index: 2000;
    top: 50%;
    bottom: 50%;
    background-image: url(../images/msg.png);
    background-size: 100% 100%;
    left: 50%;
    right: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  #tx_msg .btn_close{
    position: relative;
    width: 68px;
    height: 46px;
    top: -1px;
    background-size: 100% 100%;
    right: -292px;
    cursor: pointer;
  }

  #tx_msg .title{
    position: relative;
    top: -39px;
    font-size: 20px;
    color: burlywood;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
  }
  
  #tx_msg .btn_close:hover{
    background-image: url('../images/chat_btn_close.png');
  }
  
  #tx_msg .msg_body{
    color: white;
    overflow-y: auto;
    width: 571px;
    height: 300px;
  }

  #tx_msg .msg_body .txt{
    padding: 10px;
  }
  
  @keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
  }
  
  @keyframes zoomEffect {
    0% {transform: scale(1);}
    30% { transform: scale(1.3);}
    50% { transform: scale(0.8);}
    70% { transform: scale(1.4);}
    100% {transform: scale(1);}
  }
  
  
  
  .btn-bet{
    background-image: url('../images/btn_bet_0.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 130px;
    height: 49px;
    position: relative;
    top: 41px;
  }
  
  .btn-bet:hover{
    background-image: url('../images/btn_bet_1.png');
  }
  
  .btn-bet.block{
    background-image: url('../images/btn_bet_2.png');
  }
  
  .btn-bet.tai{
    right: 16px;
  }
  
  .btn-bet.xiu{
    left: 36px;
  }
  
  #dia #dice_history{
    height: 22px;
    z-index: 60000;
    display: flex;
    position: absolute;
  }
  
  #dia #dice_history .item{
    width: 20px;
    height: 20px;
  }
  
  #dia #dice_history .item.tai{
    background-image: url('../images/r_tai.png');
  }
  
  #dia #dice_history .item.xiu{
    background-image: url('../images/r_xiu.png');
  }
  
  #dia #dice_md5{
    position: absolute;
    color: #e3db76;
    top: 637px;
    font-size: 14px;
    text-shadow: 2px 2px 0px #992604;
  }
  
  #dice #guess{
    background-image: url(../images/dia.png);
    width: 210px;
    height: 210px;
    background-size: 100% 100%;
    position: absolute;
    top: 70px;
    z-index: 200000;
  }
  
  #dice_panel_bet{
    color: white;
    background-color: #00000042;
    width: 547px;
    position: absolute;
    top: 548px;
    display: none;
    z-index: 500;
  }

  #dia #dice_roll{
    position: relative;
    top: 21px;
  }
  
  #dia #countdown{
    font-size: 45px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 63px;
    z-index: 500;
  }
  #dice_panel_bet .btn-bet {
      box-shadow:inset 0px 1px 0px 0px #fce2c1;
      background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
      background-color:#ffc477;
      border-radius:6px;
      border:1px solid #eeb44f;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      text-decoration:none;
      text-shadow:0px 1px 0px #cc9f52;
    width: auto !important;
    margin: 2px;
    padding: 5px !important;
    top: 0px;
    height: auto;
  }
  
  #dice_panel_bet .btn-bet:hover {
      background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
      background-color:#fb9e25;
  }
  
  #dice_panel_bet .btn-bet:active {
      position:relative;
      top:1px;
  }
  
  .btn-bet-done{
      box-shadow:inset 0px 1px 0px 0px #f5978e;
      background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
      background-color:#f24537;
      border-radius:6px;
      border:1px solid #d02718;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #810e05;
  }
  .btn-bet-done:hover {
      background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color:#c62d1f;
  }
  .btn-bet-done:active {
      position:relative;
      top:1px;
  }
  
  .btnx2 {
    width: auto;
      box-shadow:inset 0px 1px 0px 0px #a4e271;
      background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
      background-color:#89c403;
      border-radius:6px;
      border:1px solid #74b807;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #528009;
    margin: 2px;
  }
  .btnx2:hover {
      background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color:#77a809;
  }
  .btnx2:active {
      position:relative;
      top:1px;
  }
  
  .txt_money_bet{
    position: relative;
    top: 35px;
    color: #f9ff00;
    text-shadow: 3px 3px 3px black;
  }
  
  .txt_money_bet_total{
    position: relative;
    top: 22px;
    color: white;
    font-weight: bold;
    font-size: 17px;
  }
  
  .txt_money_bet_total.tai{
    right: 16px;
  }
  
  .txt_money_bet_total.xiu{
    left: 28px;
  }
  
  #tx_chat{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 380px;
    height: 480px;
    z-index: 2000;
    background-image: url('../images/chat.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  #tx_chat .btn_close{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 51px;
    position: absolute;
    top: 2px;
    right: 0px;
    cursor: pointer;
  }
  
  #tx_chat .btn_close:hover{
    background-image: url(../images/chat_btn_close.png);
  }
  
  #tx_chat #tx_chat_all_item{
    width: 346px;
    height: 332px;
    background-color: #8b592759;
    margin-left: 20px;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
  }
  
  #tx_chat_all_item .chat_item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  #tx_chat_all_item .chat_item .username{
    color: yellow;
  }
  
  #tx_chat #tx_inp_chat{
    width: 335px;
    height: 45px;
    margin-top: 17px;
    border: none;
    color: white;
    margin-left: 27px;
    background-color: transparent;
  }
  
  #tx_chat #btn_send{
    position: relative;
    bottom: 38px;
    left: 296px;
    width: 65px;
    height: 33px;
    cursor: pointer;
  }
  
  #tx_chat #btn_send:hover{
    content: url('../images/btn_send_hover.png');
  }
  
  .golden-dot {
    width: 10px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 223, 0, 0.8);
    z-index: 1300;
}

  /* Extra small devices (phones, 0px and up) */
  @media (max-width: 575.98px) {
    #tx{transform: scale(65%, 65%);}
    #tx_msg {transform: scale(63%, 64%) translate(-80%, -69%);}
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    #tx {transform: scale(65%, 65%);}
    #tx_msg {transform: scale(63%, 64%) translate(-80%, -69%);}
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    #tx {transform: scale(65%, 65%);}
    #tx_msg {transform: scale(63%, 64%) translate(-80%, -69%);}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS for devices between 992px and 1199px (desktops) */
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    /* CSS for devices between 1200px and 1399px (large desktops) */
  }
  
  /* Extra Extra large devices (very large desktops, 1400px and up) */
  @media (min-width: 1400px) {
    /* CSS for devices larger than 1400px (extra large desktops) */
  }
  
  /* Landscape orientation */
  @media (orientation: landscape) {
    /* CSS for devices in landscape mode */
  }
  
  /* Portrait orientation */
  @media (orientation: portrait) {
    /* CSS for devices in portrait mode */
  }